body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bgAccent: #5b5e87;
  --bg: #2d2f4b;
  --bgContainer: #212337;
  --btnHome: #814db3;
  --btnSearch: #55c9e6;
  --btnCalendar: #d65a5a;
  --btnMe: #ffb21e;

  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
small,
p,
ul,
li {
  color: white;
}
